.background {
    height: 500px;
    width: 100%;
}
.b0 {
    position: absolute;
    top: 20px;
    right: 20px;
}
.b1 {
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.b2 {
    border: 2px solid rgb(252, 250, 250);
    background-color: transparent;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;  
}
.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    border: 1px solid gray;
    color: red;
    height: 60px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    top: 120px;  
    left: 50%;
    right: 50%;
    margin: auto;
}
.line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin: auto;
    color: white;
    top: 190px ;
    text-align: center;
    width: 100%;
}
.searchbox {
    margin: auto;
    position: absolute;
    top: 250px;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.location {
    margin: auto;
}
.svg {
    position: relative;
    left: 280px;
    top: 3px;
}
.se {
    padding: 10px;
}
.s {
    padding: 10px;
    width: 300px;
}
.j {
    height: 117px;
    width: 118px;
}
